data/
dataset/
envs/
.ipynb_checkpoints/
anaconda_projects/
.venv/
.kaggle/
__pycache__/
best_stage*
human_avatar_not_human.keras
my_preds.csv
my_report.png
label_mapping.json
resnet50_best.weights.h5
history_frozen.json
resnet50_profilepic_classifier.weights.h5
*sav*